@import './root.css';

.login-wrapper {
    display: flex;
    width: 800px;
    height: 500px;
    margin: 100px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.login-container, .register-panel {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container {
    background-color: var(--white);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: var(--login-green);
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 1px solid var(--login-username);
    background-color: var(--login-pass);
    outline: none;
    transition: border 0.3s;
    color: #1a1a1a;
}

.login-container input:focus {
    border-color: var(--login-green);
}

.login-container button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, var(--login-green), var(--login-blue));
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.login-container button:hover {
    background: linear-gradient(to right, var(--login-green-hover),var(--login-blue-hover));
}

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 10px;
}

.login-options a {
    text-decoration: none;
    text-decoration-style: solid;
    color: var(--forgot-pass);
}

.login-options a:hover {
    text-decoration: underline;
}

.register-panel {
    background: linear-gradient(135deg, var(--login-green), var(--login-blue));
    color: var(--white);
    text-align: center;
}

.register-panel h2 {
    margin-bottom: 10px;
}

.register-panel p {
    margin-bottom: 20px;
    font-size: 1rem;
}

.register-button {
    background: transparent;
    border: 2px solid var(--white);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.register-button:hover {
    background: rgba(255, 255, 255, 0.2);
}
