:root {
    --login-green: #88b77b;
    --login-blue: #21B1EF;
    --login-blue-hover: #155D94;
    --login-green-hover:  #39C715;
    --forgot-pass: #155D94;
    --white : white;
    --login-username: #c5bfa5;
    --login-pass: #fdfdfb;
    --reset-pass : #25A547;
    --black : black;
    --change-pass: #3DD867;
    --user-table : #226622;


    --delete-account : #D23333;
    --delete-account-hover : #903D3D;
    --lock-account: #FF8000;
    --lock-account-hover: #CD7217;
}
